/*
	CSS for portlet dashboard
*/
.columns
{
	padding			: 5px;
	vertical-align	: top;
	width			: 360px;
}

.columnsExtra
{
	padding			: 0 5px;
	vertical-align	: top;
	width			: 500px;
}

.columnsIntra
{
	padding			: 0 5px;
	vertical-align	: top;
	width			: 450px;
}


.portlet_topper
{
	/*background		: #0079bf;*/
	padding			: 7px 0px;
	height			: 20px;
	vertical-align	:text-bottom;	
	
	/*For ExtJs Style
	background		: -webkit-gradient(linear, left top, left bottom, from(#caebe9), to(#348ce2)); 
	background		: -moz-linear-gradient(top, #caebe9, #348ce2); 
	filter			: progid:DXImageTransform.Microsoft.gradient(startColorstr=#caebe9, endColorstr=#348ce2); 
	-ms-filter		: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#caebe9, endColorstr=#348ce2)";
	*/ 	
		
	/*Blue Style*/
	/*
	background: -webkit-gradient(linear, left top, left bottom, from(#0079bf), to(#0000bf)); 
	background: -moz-linear-gradient(top, #0079bf, #0000bf); 
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#0079bf, endColorstr=#0000bf); 
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#0079bf, endColorstr=#0000bf)"; 	
	*/
	font		: Arial, sans-serif;
	font-size	: 14px;
	color		: #ffffff;
	/*
	font-weight	: bold;
	*/
	
}

.toggle-portlets{
	font		: Arial, sans-serif;
	font-size	: 13px;
	color		: #ffffff !important;
	}

.portlet_content
{
	padding		: 5px;
	background	: #caebe9;
	height		: 190px;
	/*
	height		: auto;
	*/
	width		: 380px;
}

.portlet_content_extra
{
	padding		: 5px;
	background	: #caebe9;
	height		: 190px;
	/*
	height		: auto;
	*/
	width		: 500px;
}

.portlet_content_intra
{
	padding		: 5px;
	background	: #caebe9;
	height		: 190px;
	/*
	height		: auto;
	*/
	width		: 450px;
}

.portlet_content_status
{
	padding		: 5px;
	/*background	: #caebe9;*/
	height		: 438px;
	/*
	height		: auto;
	*/
	width		: 380px;
}

.portlet-table{
	min-height: 150px;
	/*
	height		: auto;
	*/
	padding		: 0px 0px 5px 0px;
}

.porlet-table-header
{
	font		: 12px Arial, sans-serif;
	/*
	font-weight	: bold;
	*/
	text-align	: left;
}

.porlet-table-content
{
	font		: 12px Arial, sans-serif;
	text-align	: left;
}
.portlet-table a {
	text-decoration	: underline; 
}

.portlet-table-footer{
	font		: 12px Arial, sans-serif;
	/*
	font-weight	: bold;
	*/
	text-align	: center;
}

.fieldset-status-check{
	padding		: 0px;
	border		: 1px solid gray;
}

.table-header-jqgrid{
	background		: -webkit-gradient(linear, left top, left bottom, from(#deebf4), to(#f2f0ff)); 
	background		: -moz-linear-gradient(top, #deebf4, #f2f0ff); 
	filter			: progid:DXImageTransform.Microsoft.gradient(startColorstr=#deebf4, endColorstr=#f2f0ff); 
	-ms-filter		: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#deebf4, endColorstr=#f2f0ff)";
	vertical-align	: center;
	text-align		: center; 
	color			: #2779AA; 
	font-weight		: bold;	
	font-family		: Arial; 
	font-size		: 12px;
	cellpadding		: 0;
	cellspacing		: 0;
	border			: solid;
	border-width	: 0.3px;
	border-color	: #AED0EA; 	
}

.table-header-jqgrid-tr{	
	border-bottom			: solid;
	border-bottom-width		: 0.3px;
	border-bottom-color		: #AED0EA; 	
}

.table-header-jqgrid-td{	
	border-left				: solid;
	border-left-width		: 0.3px;
	border-left-color		: #AED0EA; 	
}

select.error {
	border: 2px solid red !important;
}

.tdOtm{
	width			: 40px;
	text-align		: right !important;
	font-style		: normal !important;
	font-weight		: bold !important;
	padding-right	: 10px;
	padding-bottom	: 10px;
}
